.top
{
  outer-width: 100%;
  text-align: center;
  border-radius: .2rem;
  border: black 1px solid;
  height: 2rem;
  font-family: cursive;
}

.desc
{
  width: 100%;
  border: black 1px solid;
  border-radius: .2rem;
}

.desc p
{
  font-family: sans-serif;
  text-align: center;
}
